@using LumiaMVC1.ViewModels
@model UserLoginVM
<div class="container" style="margin:100px;">
    <div class="row">
        <div class="col-12">
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" style="color:red"></div>
                <div class="mb-3">
                    <input asp-for="UserName" class="form-control form-control-user"
                           id="exampleInputEmail" aria-describedby="emailHelp"
                           placeholder="Enter UserName...">
                    <span asp-validation-for="UserName" style="color:red"></span>
                </div>
                <div class="mb-3">
                    <input asp-for="Password"
                           placeholder="Password">
                    <span asp-validation-for="Password" style="color:red"></span>
                </div>
                <div class="mb-3">
                    <div >
                        <input asp-for="IsPersistent" class="custom-control-input" id="customCheck">
                        <label >
                            Remember
                            Me
                        </label>
                    </div>
                </div>
                <button type="submit" >
                    Login
                </button>
            </form>
        </div>
    </div>
</div>